<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <div class="table-box">
    <table>
      <tr>
        <th>ID</th>
        <th>FOTO</th>
        <th>NOMBRE</th>
        <th class="description-table">DESCRIPCION</th>
        <th class="date-table">FECHA DE INGRESO</th>
        <th class="off-table">DESCUENTO</th>
        <th class="type-table">TIPO DE VENTA</th>
        <th>STOCK</th>
        <th>PRECIO</th>
      </tr>
      <% products.forEach((p) => { %>
          <tr>
            <td><%= p.id %></td>
            <td><img class="admin-img-product" src="/images/products/<%=p.Image[0].name%>" alt="<%=p.name%>"></td>
            <td><%= p.name %></td>
            <td class="description-table"><%= p.description %></td>
            <td class="date-table"><%= p.release_date %></td>
            <td class="off-table"><%= p.off %></td>
            <td class="type-table"><%= p.type %></td>
            <td><%= p.stock %></td>
            <td><%= p.price %></td>
        </tr>
      <% }) %>
    </table>
  </div>

</body>
</html>